<div class="form_item_block">
    <div class="checkbox_row">
        <input id="IsDockerBuild2" type="checkbox" ng-model="IsDockerBuild2" ng-init="IsDockerBuild2 = IsDockerBuild" ng-change="IsDockerBuild = IsDockerBuild2" ng-true-value="true" ng-false-value="false">
        <input id="IsDockerBuild" type="hidden" ng-model="IsDockerBuild" value="{{IsDockerBuild}}">
        <label for="IsDockerBuild">Build docker image</label>
    </div>
</div>
<div class="docker_build" ng-show="IsDockerBuild == 'true'">
    <div class="form_item_block" >
        <label>Dockerfile path:<span class="asterisk">*</span></label>
        <input type="text" ng-model="DockerFile">
        <span class="form_error" ng-show="GOINPUTNAME[DockerFile].$error.server">{{GOINPUTNAME[DockerFile].$error.server}}</span>
    </div>
    <div class="form_item_block" >
        <label>Tag:</label>
        <input type="text" ng-model="DockerBuildTag">
    </div>
</div>
<div class="form_item_block">
    <div class="checkbox_row">
        <input id="IsDockerRun2" type="checkbox" ng-model="IsDockerRun2" ng-init="IsDockerRun2 = IsDockerRun" ng-change="IsDockerRun = IsDockerRun2" ng-true-value="true" ng-false-value="false">
        <input id="IsDockerRun" type="hidden" ng-model="IsDockerRun" value="{{IsDockerRun}}">
        <label for="IsDockerRun">Run command in docker image</label>
    </div>
</div>
<div class="docker_build" ng-show="IsDockerRun == 'true'">
    <div class="form_item_block" >
        <label>Script path:<span class="asterisk">*</span></label>
        <input type="text" ng-model="DockerRunScript">
        <span class="form_error" ng-show="GOINPUTNAME[DockerRunScript].$error.server">{{GOINPUTNAME[DockerRunScript].$error.server}}</span>
    </div>
    <div class="form_item_block" >
        <label>Arguments:</label>
        <input type="text" ng-model="DockerRunArguments">
    </div>
</div>
